.card-columns {
    column-count: 1;
}

.icon-flip {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.new-card {
    min-height: 135px;
}
